
</main>
<div class="footer">Footer</div>

<script src="/JS/seeMoreArticles.js"></script>
<script src="/JS/appendNewArticles.js"></script>
<script src="/JS/appendNewTopics.js"></script>
<script src="JS/topicsFilter.js"></script>

</body>
</html>