<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Guardian API project</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Rokkitt&display=swap" rel="stylesheet">
</head>

<body>
<div class="header">
    <img class="guardian-logo" src="images/the-guardian-logo.png" alt="guardian logo" srcset="">
    <h1>ARTICLE FINDER</h1> 
</div>
<main>